/*vars*/
@import "var.css";
/*presets*/
  *{
    margin: 0px;
    padding: 0px;
    transition: all 0.25s;
  }
  body{
    background-color: var(--thema);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  }
  /*web-kit*/
    input[type=file]{
      display: none;
    }
    ::-webkit-inner-spin-button{

      -webkit-appearance: none;
    }
    ::-webkit-scrollbar{

      width: 12px;
    }

    ::-webkit-scrollbar-thumb{
      background: var(--cor);
      border-radius: 6px;
    }
header{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--cor);
    border-bottom: 4px solid var(--cor);
    box-shadow: 0 0 10px var(--cor);
    font-weight: bold;
}
    header .logo{
        background-image: url(https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2Ff5cb1812-0631-11ea-872c-a98e8bfab8fc.jpg?crop=1023%2C682%2C0%2C42);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 5vw;
        border: 4px solid var(--cor);
        height: 80%;
        border-radius: 50%;
        box-shadow: 0 0 10px var(--cor);
    }
    header .Title{
        width: 20%;
        text-align: center;
        font-style: italic;
        font-size: 5vh;
    }
    header form{
        width: 46%;
        padding: 1vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
        header form label{
            border-radius: 6px;
            font-size: 3vh;
            border: 2px solid;
            padding: 1vh;
        }
        header form input[type=color]{

            display: none;
        }
        header form input[type=submit]{
            width: 20%;
            height: 4vh;
            background: var(--thema);
            color: var(--cor);
            font-size: 2vh;
            font-weight: bold;
            border: 3px solid var(--cor);
        }
main{
    height: 20vh;
}
footer{
    margin-top: -5vh;
    display: flex;
    width: 100%;
    position: fixed;
    align-self: end;
    flex-direction: row;
    justify-content: space-around;
    height: 5vh;
    align-items: center;
    border-top: 3px solid var(--cor);
    box-shadow: 0 0 9px;
    color: var(--cor);
    background-color: var(--thema);
}
    footer .corp{
      font-family: 'Courier New', Courier, monospace;  
    }
    footer .link{
        width: 10vw;
        height: 4vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    footer a{
        width: 2vw;
        height: 4vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: rgba(0 0 0 /0);
    }